* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem 0;
    text-align: center;
}

.container {
    /** main container **/
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: #1b244a;
    max-width: 600px;
    min-height: 325px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 2rem 1rem;
}

.score-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.team-name {
    color: #eeeeee;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.bg-score {
    /** background of scores **/
    background: #080001;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.score-display {
    color: #f94f6d;
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.score-btn,
.score-btn-two,
.score-btn-three {
    background: none;
    color: #9aabd8;
    font-family: "Cursed Timer ULiL", sans-serif;
    border: 2px solid #9aabd8;
    border-radius: 5px;
    font-size: 1.125rem;
    padding: 0.5rem;
}

.newgame {
    display: flex;
    padding-top: 7rem;
    gap: 0.5rem;
}

.newgame-btn {
    background: none;
    color: #9aabd8;
    font-family: "Cursed Timer ULiL", sans-serif;
    border: 2px solid #9aabd8;
    border-radius: 5px;
    font-size: 1.125rem;
    padding: 0.5rem 0.75rem;
    margin: 0 auto;
}
